html, body {
    margin: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 6vh 0;
}

.app-container {
    margin: auto;
    width: 94%;
}

button {
    background: #1c1c1c;
    color: white;
    border: none;
    padding: 1vh 2vw;
    margin: 2vh 1vw 2vh 0;
    font-size: 120%;
    cursor: pointer;
}

table {
    text-align: center;
    border-collapse: collapse;
}

tr {
    color: rgb(59, 59, 59);
    max-height: 2vh;
}

.index {
    cursor: default;
}

#manufacturers td {
    cursor: default;
}

tr:not(.header):hover {
    background-color: #fbffc5;
} 

td {
    border: 1px solid rgb(168, 168, 168);
    cursor: text;
    padding: 0.8vh 0.6vw;
}

th {
    border: 1px solid rgb(168, 168, 168);
    padding: 0.8vh 0.6vw;
    color: black;
    text-transform: capitalize;
    cursor: default;
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

#manufacturers {
    width: 30%;
}

.error {
    background-color: red;
    color: white;
}

.error-message {
    color: red;
}